.p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 100%;
    transform: scale(1);
    box-shadow: none;
    position: relative;
}

.p-dialog-content {
    overflow-y: auto;
    flex-grow: 1;
}

.p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.p-dialog-footer {
    margin-top: 25px;
    flex-shrink: 0;
}

.p-dialog .p-dialog-header-icons {
    display: flex;
    align-items: center;
}

.p-dialog .p-dialog-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* Fluid */
.p-fluid .p-dialog-footer .p-button {
    width: auto;
}

::ng-deep .p-dialog .p-dialog-content:last-of-type {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
