<ngx-loading [show]="isLoading"></ngx-loading>
<form [formGroup]="companyDetailsForm" class="p-4 border rounded shadow bg-light" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="companyName" class="form-label">Company Name<span class="text-danger">*</span> </label>
            <input formControlName="companyName" id="companyName" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyName')?.touched && companyDetailsForm.get('companyName')?.invalid }"
                placeholder="Enter Company Name"  (blur)="!isEdit ? checkForDuplicate(): null " maxlength="51" />
                <small   class="invalid-feedback" *ngIf="companyDetailsForm.get('companyName')?.errors?.['minlength']"> Company Name should have at most 3 characters</small>
                  <!-- <div *ngIf="companyDetailsForm.get('companyName')?.touched && companyDetailsForm.get('companyName')?.invalid"
                    class="invalid-feedback">
                    Company Name is required.
                 </div> -->

                <!-- <small *ngIf="ExitCompanymsg" style="color:red"> {{ExitCompanymsg}}</small> -->
        </div>

        <div class="col-md-3">
            <label for="companyAddress" class="form-label">Company Address<span class="text-danger">*</span></label>
            <input formControlName="companyAddress" id="companyAddress" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyAddress')?.touched && companyDetailsForm.get('companyAddress')?.invalid }"
                placeholder="Enter Company Address" maxlength="200"/>
                
            <!-- <div *ngIf="companyDetailsForm.get('companyAddress')?.touched && companyDetailsForm.get('companyAddress')?.invalid"
                class="invalid-feedback">
                Company Address is required.
            </div> -->
        </div>

        <div class="col-md-3">
            <label for="companyGSTNo" class="form-label">Company GST No</label>
            <input formControlName="companyGSTNo" id="companyGSTNo" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyGSTNo')?.touched && companyDetailsForm.get('companyGSTNo')?.invalid, 'pointer-none': !isNewCompany }"
                placeholder="Enter GST No" maxlength="15" />
                <small   class="invalid-feedback" *ngIf="companyDetailsForm.get('companyGSTNo')?.errors?.['minlength']"> Company GST No. should have at most 15 characters</small>
            <!-- <div *ngIf="companyDetailsForm.get('companyGSTNo')?.touched && companyDetailsForm.get('companyGSTNo')?.invalid"
                class="invalid-feedback">
                Company GST is required.
            </div> -->
        </div>

        <div class="col-md-3">
            <label for="companyBank" class="form-label">Company Bank Name<span class="text-danger">*</span></label>
            <input formControlName="companyBank" id="companyBank" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyBank')?.touched && companyDetailsForm.get('companyBank')?.invalid }"
                placeholder="Enter Bank Name" />
            <!-- <div *ngIf="companyDetailsForm.get('companyBank')?.touched && companyDetailsForm.get('companyBank')?.invalid"
                class="invalid-feedback">
                Company Bank Name is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="companyBankAccount" class="form-label">Company Bank Account<span
                    class="text-danger">*</span></label>
            <input formControlName="companyBankAccount" id="companyBankAccount" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyBankAccount')?.touched && companyDetailsForm.get('companyBankAccount')?.invalid }"
                placeholder="Enter Bank Account" maxlength="12" />
                <small   class="invalid-feedback" *ngIf="companyDetailsForm.get('companyBankAccount')?.errors?.['minlength']"> Company Bank Account should have at most 12 characters.</small>
            <!-- <div *ngIf="companyDetailsForm.get('companyBankAccount')?.touched && companyDetailsForm.get('companyBankAccount')?.invalid"
                class="invalid-feedback">
                Company Bank Account is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="companyBankIfscCode" class="form-label">Company Bank IFSC Code<span
                    class="text-danger">*</span></label>
            <input formControlName="companyBankIfscCode" id="companyBankIfscCode" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyBankIfscCode')?.touched && companyDetailsForm.get('companyBankIfscCode')?.invalid }"
                placeholder="Enter Bank IFSC Code" maxlength="11"/>
                <small  class="invalid-feedback" *ngIf="companyDetailsForm.get('companyBankIfscCode')?.errors?.['minlength']"> Company Bank IFSC Code should have at most 11 characters</small>
                <!-- <div *ngIf="companyDetailsForm.get('companyBankIfscCode')?.errors?.['maxlength']"
                class="invalid-feedback"> -->
               
            <!-- </div> -->
                  
            <!-- <div *ngIf="companyDetailsForm.get('companyBankIfscCode')?.touched && companyDetailsForm.get('companyBankIfscCode')?.invalid"
                class="invalid-feedback">
                Company Bank IFSC Code is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="companyBankSwiftId" class="form-label">Company Bank Swift Id<span
                    class="text-danger">*</span></label>
            <input formControlName="companyBankSwiftId" id="companyBankSwiftId" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyBankSwiftId')?.touched && companyDetailsForm.get('companyBankSwiftId')?.invalid }"
                placeholder="Enter Bank Swift Id" maxlength="11"/>
                <small class="invalid-feedback" *ngIf="companyDetailsForm.get('companyBankSwiftId')?.errors?.['minlength']">
                    Company Bank Swift Id should have at most 11 characters
                  </small>
            <!-- <div *ngIf="companyDetailsForm.get('companyBankSwiftId')?.touched && companyDetailsForm.get('companyBankIfscCode')?.invalid"
                class="invalid-feedback">
                Company Bank Swift Id is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="companyWebsite" class="form-label">Company Website</label>
            <input formControlName="companyWebsite" id="companyWebsite" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyWebsite')?.touched && companyDetailsForm.get('companyWebsite')?.invalid }"
                placeholder="Enter Website" />
            <!-- <div *ngIf="companyDetailsForm.get('companyWebsite')?.touched && companyDetailsForm.get('companyWebsite')?.invalid"
                class="invalid-feedback">
                Company Website is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="companyEmail" class="form-label">Company Email</label>
            <input formControlName="companyEmail" id="companyEmail" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('companyEmail')?.touched && companyDetailsForm.get('companyEmail')?.invalid }"
                placeholder="Enter Email" pattern="^[^@]+@[^@]+\.[^@]+$" />
            <div *ngIf="companyDetailsForm.get('companyEmail')?.touched && companyDetailsForm.get('companyEmail')?.errors" class="invalid-feedback">
                <!-- Required error message -->
                <!-- <div *ngIf="companyDetailsForm.get('companyEmail')?.errors?.['required']">
                    Company Email is required.
                </div> -->
                <!-- Invalid email format message -->
                <div *ngIf="companyDetailsForm.get('companyEmail')?.errors?.['email']">
                    Enter a valid email address.
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-3 d-flex flex-column">
            <label for="year1" class="form-label">Company Financial Year<span class="text-danger">*</span></label>
            <p-calendar formControlName="financialYear" view="year" dateFormat="yy" [minDate]="minYear"
                [maxDate]="maxYear" (ngModelChange)="setFinancialYearDateRange()" placeholder="Select Financial Year" (blur)="isEdit ? checkForDuplicate(): null "
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('financialYear')?.touched && companyDetailsForm.get('financialYear')?.invalid }" />
            <!-- <p *ngIf="minInvoiceDate && maxInvoiceDate" class="text-danger">
                Your Financial year is from {{ minInvoiceDate | date: 'MMM d, y' }} to {{ maxInvoiceDate | date: 'MMM d, y' }}
            </p> -->
            <!-- <div *ngIf="companyDetailsForm.get('financialYear')?.touched && companyDetailsForm.get('financialYear')?.invalid"
                class="invalid-feedback">
                Financial Year is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="gstInvoicePrefix" class="form-label">GST Invoice Prefix<span
                    class="text-danger">*</span></label>
            <input formControlName="gstInvoicePrefix" id="gstInvoicePrefix" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('gstInvoicePrefix')?.touched && companyDetailsForm.get('gstInvoicePrefix')?.invalid }"
                placeholder="Enter GST Invoice prefix" maxlength="16"/>
            <!-- <div *ngIf="companyDetailsForm.get('gstInvoicePrefix')?.touched && companyDetailsForm.get('gstInvoicePrefix')?.invalid"
                class="invalid-feedback">
                GST Invoice Prefix is required.
            </div> -->
        </div>

        <div class="col-md-3 mt-3">
            <label for="exportInvoicePrefix" class="form-label">Export Invoice Prefix<span
                    class="text-danger">*</span></label>
            <input formControlName="exportInvoicePrefix" id="exportInvoicePrefix" class="form-control"
                [ngClass]="{ 'is-invalid': companyDetailsForm.get('exportInvoicePrefix')?.touched && companyDetailsForm.get('exportInvoicePrefix')?.invalid }"
                placeholder="Enter Export Invoice prefix"maxlength="16" />
            <!-- <div *ngIf="companyDetailsForm.get('exportInvoicePrefix')?.touched && companyDetailsForm.get('exportInvoicePrefix')?.invalid"
                class="invalid-feedback">
                Export Invoice Prefix is required.
            </div> -->
        </div>
        <div class="col-md-3 mt-3">
            <label for="lut" class="form-label">LUT Acknowledgement</label>
            <textarea formControlName="lut" type="text" id="lut" class="form-control"
                placeholder="Enter LUT Acknowledgement"    [ngClass]="{ 'is-invalid': companyDetailsForm.get('lut')?.touched && companyDetailsForm.get('lut')?.invalid }"></textarea>
        </div>
       


        <div class="col-md-12 mt-3 d-flex justify-content-end">
            <button type="reset" class="btn btn-danger me-3" *ngIf="isEdit"  (click)="cancelButton()">Cancel</button>
            <button  type='button'class="btn btn-info me-3" (click)="resetForm()" >Reset</button>
            <button type="submit" class="btn btn-primary">{{ isEdit ? 'Update' : 'Save' }} Company</button>
        </div>
    </div>
</form>

<div class="row mt-5" *ngIf="companies.length > 0">

    <p-table #dataTable class="table table-wrap table-striped table-hover" [columns]="columns" [value]="companies" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['companyName','financialYear','companyAddress','companyGSTNo']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex text-end ">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dataTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <!--HEADER-->
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" >
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"  ></p-sortIcon> 
                </th>
                <th>Actions</th>
            </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-rowData>
            <tr >
                <td *ngFor="let col of columns" >
                    {{ rowData[col.field] || '-' }} <!-- Display each field dynamically -->
                </td>
                <td>
                    <i class="pi pi-pen-to-square action-icon" (click)="setCompanyDetails(rowData)" title="Edit Company"></i>
                </td>
            </tr>
        </ng-template>
                   <!-- EMPTY MESSAGE -->
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="9" style="text-align: center;">No records found.</td>
        </tr>
    </ng-template>
    </p-table>
</div>