::ng-deep .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #374151;
    padding: 0px !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }